
<main>
    <section class="form-section">
        <div class="card-login">
            <h1>PetShop</h1>
            <img src="assets/svg/pawprint.svg">
            <h2>Login</h2>
        </div>
    </section>
    <section class="main-section">
        <div class="text-main">
            <h1>Welcome</h1>
            <h2>to PetShop</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur repellat, ut commodi laboriosam tempore similique soluta provident facilis.</p>

            <button>Get Started</button>
        </div>
    </section>
</main>
